/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  width: 80%;
}

.daily{
  width: 65%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
